<div class="card mx-auto" style="width: 20rem; margin-top: 20px;">
    <div class="card-header">
        Connexion
    </div>
    <div class="card-body">
        <form #myForm="ngForm" (ngSubmit)="connexion(myForm)">
            <div class="form-group">
                <label>UserName</label>
                <input type="text" class="form-control" ngModel name="userName" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" ngModel name="password" />
            </div>
            <br>
            <button class="btn btn-success">Se connecter</button>
        </form>
    </div>
</div>