<!-- <div>
  {{title}}

  <input type="text" [disabled]="isDisabled" [(ngModel)]="name" (ngModelChange)="testBinding()">
  <button (click)="onClic()"> Click</button>

</div> -->




<router-outlet></router-outlet>