<div class="p-3">
    <ul class="nav nav-pills">

        <li>
            <!-- <button routerLink="home" class="btn btn-outline-primary ms-2">
        Home
      </button> -->
            <button (click)="goToHome()"
                [ngClass]="currentRoute == 'home' ? 'btn btn-primary ms-2' : 'btn btn-outline-primary ms-2'">
                Home
            </button>
        </li>
        <!-- <li *ngIf="apiBackendService.userRole && apiBackendService.userRole=='admin'"> -->
        <li *ngIf="currentRole && currentRole=='admin'">
            <!-- <button routerLink="users" class="btn btn-outline-primary ms-2">
        Users
      </button> -->
            <button (click)="goToUser()"
                [ngClass]="currentRoute == 'users' ? 'btn btn-primary ms-2' : 'btn btn-outline-primary ms-2'">
                Editer Users
            </button>
        </li>
    </ul>
</div>