<div class="p-3">

    <div class="card">
        <div class="card-header">Vos informations</div>
        <div *ngIf="currentUser" class="card-body">
            <strong>Nom : </strong>{{currentUser.nom}} <br>
            <strong>Numero : </strong>{{currentUser.number}} <br>
            <strong>Login : </strong>{{currentUser.login}} <br>
            <strong>Email : </strong>{{currentUser.email}} <br>
        </div>
    </div>
</div>