<!-- <div class="p-3">
    <div class="card">
        <div class="card-header">
            Editer un utitlisateur
        </div>
        <div class="card-body">

            <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                <div class="form-group">
                    <label>Nom :</label>
                    <input type="text" class="form-control" ngModel name="nom" required>
                </div>

                <div class="form-group">
                    <label>Prenoms :</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Login :</label>
                    <input type="text" class="form-control" ngModel name="login" required>
                </div>

                <div class="form-group">
                    <label>Numero :</label>
                    <input type="text" class="form-control" ngModel name="number" required>
                </div>

                <div class="form-group">
                    <label>Email :</label>
                    <input type="email" class="form-control" ngModel name="email" required>
                </div>

                <br>
                <button type="submit" class="btn btn-primary"
                    [disabled]="!myForm.valid || isDisabled">Enregistrer</button>
                

            </form>

        </div>
    </div>
</div> -->


<div class="p-3">
    <div class="card">
        <div class="card-header">
            Editer un utitlisateur form reactif
        </div>
        <div class="card-body">

            <!-- <form #myForm="ngForm"> -->
            <form [formGroup]="myReactiveForm" (ngSubmit)="onReactiveSubmit()">
                <div class="form-group">
                    <label>Nom :</label>
                    <input type="text" class="form-control" formControlName="nom">
                </div>

                <div class="form-group">
                    <label>Prenoms :</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Login :</label>
                    <input type="text" class="form-control" formControlName="login">
                </div>

                <div class="form-group">
                    <label>Numero :</label>
                    <input type="text" class="form-control" formControlName="number">
                </div>

                <div class="form-group">
                    <label>Email :</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>

                <br>
                <button type="submit" class="btn btn-primary"
                    [disabled]="!myReactiveForm.valid || isDisabled">{{actionLibelle}}</button>
                <!-- <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid || isDisabled"
                    (click)="onSubmit(myForm)">Enregistrer</button> -->

            </form>

        </div>
    </div>
</div>