<div class="p-3">
    <div class="card">
        <div class="card-header">
            Listes des utilisateurs

            <app-show-user *ngIf="currentUserToShow" [userTransmit]='currentUserToShow'></app-show-user>
        </div>
        <div class="card-body">

            <table *ngIf="paginateResponse && paginateResponse.data.length > 0 else listeVide"
                class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenoms</th>
                        <th>Numero</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of paginateResponse.data">
                    <tr>
                        <td>{{item.nom}}</td>
                        <td>{{item.nom}}</td>
                        <td>{{item.number}}</td>
                        <td>{{item.login}}</td>
                        <td>{{item.email}}</td>
                        <td> <button (click)="maj(item.id)" class="btn btn-success margin-rigth-5">maj</button>
                            <button (click)="voir1(item.id)" class="btn btn-success margin-rigth-5">voir 1</button>
                            <button (click)="voir2(item)" class="btn btn-success">voir 2</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <ng-template #listeVide>
                aucune données pour l'instant</ng-template>

            <ul class="pagination justify-content-end" style="margin:20px 0">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item" *ngFor="let i of arrayPaginate"><a (click)="paginate(i)"
                        class="page-link">{{i}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            <!-- <p *ngIf="!users || users.length <= 0"> aucune données pour l'instant</p> -->
        </div>
    </div>
</div>